In [2]:
from src.person_manager import *

df = pd.DataFrame(columns=["Фамилия", "Имя", "Телефон", "Дата рождения"])

# Пример
df = add_person(df, "Иванов", "Петр", "89101234567", "01.03.1990")
df = add_person(df, "Сидорова", "Анна", "89001112233", "25.03.1995")

print(find_by_month(df, 3))

save_to_parquet(df)

    Фамилия   Имя      Телефон Дата рождения
0    Иванов  Петр  89101234567    1990-03-01
1  Сидорова  Анна  89001112233    1995-03-25

/home/lyash/workspace/ii_lr5/Practical/src/person_manager.py:13: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, new_row], ignore_index=True)